.ui-component-pageheader>.ui-component-pageheader__visible-print-block+* {
  display: inline-block;
  vertical-align: middle;
  line-height: 33px;
}
.ui-component-pageheader>.ui-component-pageheader__visible-print-block+* {
  display: inline-block;
  vertical-align: middle;
  line-height: 33px;
}
 .ui-component-pageheader__title {
   margin: 0;
   font-size: 30px;
   font-weight: 300;
 }
.ui-component-accordion__panel.ui-component-accordion__panel_animated {
  transition: box-shadow .2s ease-out;
}
.ui-component-accordion__panel.ui-component-accordion__panel_disabled {
  border: 1px solid #e6e6e6;
  pointer-events: none;
  box-shadow: none;
  opacity: .65;
}
.ui-component-accordion__panel {
  border: 1px solid #e6e6e6;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: none;
  cursor: pointer;
}
.ui-component-accordion__panel.ui-component-accordion__panel_disabled .heading {
  border-bottom: none;
}
.heading {
  position: relative;
  padding: 15px 20px;
  min-height: 50px;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.heading__title {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin-right: 20px;
}
.heading__action, .heading__status {
  display: inline-block;
  position: absolute;
}
.heading__status {
  right: 66px;
  padding: 2px 0 0 20px;
}
.ui-component-icon, .ui-component-icon *, .ui-component-icon :after, .ui-component-icon :before {
  box-sizing: border-box;
}
.ui-component-icon, .ui-component-icon *, .ui-component-icon :after, .ui-component-icon :before {
  box-sizing: border-box;
}
 .ui-component-icon {
   display: inline-block;
   line-height: 0;
 }
.heading__action {
  right: 0;
  padding: 0 20px 0 30px;
  color: #222;
}
.heading__action, .heading__status {
  display: inline-block;
  position: absolute;
}
.heading__action-icon.heading__action-icon_animated {
  transition: transform .2s ease-out;
}
.heading__action-icon.heading__action-icon_active {
  transform: rotate(-180deg);
}

 .ui-component-icon, .ui-component-icon *, .ui-component-icon :after, .ui-component-icon :before {
   box-sizing: border-box;
 }

 .ui-component-icon {
   display: inline-block;
   line-height: 0;
 }
.ui-component-accordion__panel.ui-component-accordion__panel_animated {
  transition: box-shadow .2s ease-out;
}
.ui-component-accordion__panel.ui-component-accordion__panel_disabled {
  border: 1px solid #e6e6e6;
  pointer-events: none;
  box-shadow: none;
  opacity: .65;
}
.ui-component-accordion__panel.ui-component-accordion__panel_disabled .heading {
  border-bottom: none;
}
.heading {
  position: relative;
  padding: 15px 20px;
  min-height: 50px;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.ui-component-icon, .ui-component-icon *, .ui-component-icon :after, .ui-component-icon :before {
  box-sizing: border-box;
}
 .ui-component-icon {
   display: inline-block;
   line-height: 0;
 }
.icon-twilio-success:before {
  color: #29bc4e;
}
 .icon-twilio-success:before {
   content: "i";
 }
.ui-component-country-flag__button.ui-component-country-flag__button_style_with-flagname {
  padding-left: 30px;
  margin-right: 0;
}

.ui-component-country-flag_us, .ui-component-country-flag_us:active {
  background-image: url(img/twilio.svg);
}.ui-component-accordion__panel.ui-component-accordion__panel_animated {
   transition: box-shadow .2s ease-out;
 }
.ui-component-accordion__panel {
  border: 1px solid #e6e6e6;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: none;
  cursor: pointer;
}
